# =============== #
# Unity Folders   #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# =============== #
# OS Generated    #
# =============== #

.DS_Store
*.swp
*.tmp
*.bak
*.pidb
*.suo
*.user
*.userprefs
*.booproj

# =============== #
# Visual Studio   #
# =============== #

.vscode/
*.csproj
*.unityproj
*.sln
*.sln.*
*.suo

# =============== #
# Unity Asset Store Tools #
# =============== #
*.orig
*.mdb

# =============== #
# Crash Reports   #
# =============== #
sysinfo.txt

# =============== #
# Ignore Collab    #
# =============== #
.collabignore

# =============== #
# LFS Files       #
# =============== #
# (Les binaires lourds, .png, .psd, .mp4, etc. doivent être suivis par Git LFS)
